// =======================
// Paletas de colores
// =======================

// Frutas
$frutas: (
  fresa: #ff4757,
  naranja: #ff6348,
  limon: #fffa65,
  kiwi: #7bed9f,
  arandano: #5352ed,
  uva: #8e44ad,
  melocoton: #ffb8b8,
  cereza: #c0392b,
  manzana: #27ae60,
  coco: #f5f3f0,
  platano: #f1c40f,
  mora: #2c2c54
);

// Minerales
$minerales: (
  zafiro: #0066cc,
  rubi: #e74c3c,
  esmeralda: #00a085,
  amatista: #9b59b6,
  topacio: #f39c12,
  diamante: #ecf0f1,
  obsidiana: #2c3e50,
  malaquita: #16a085,
  cuarzo: #bdc3c7,
  onix: #34495e,
  jade: #2ecc71,
  opalo: #e8f8f5
);

// Extra
$colores-extra: (
  nuevo:#0066cc,    //zafiro
  editar:#00a085,   //esmeralda
  eliminar:#c0392b, //cereza
  cancelar:#f39c12, //topacio
  cerrar:#f1c40f, //platano
  guardar:#27ae60,  //manzana
  confirmar:#8e44ad,//uva
  
  azulgoro: #0f2fe7,
  rojogoro: #f83427,
  blanco: #ffffff,
  negro: #000000,

  athens-gray:#637586,
  dove-gray:#737373

);
